.container {
  display: flex;
  gap: var(--size-2);
  padding: 0 var(--size-2);
  box-sizing: border-box;

  height: 35px;
}
.container:nth-child(odd) {
  background: var(--color-grey-50);
}

.id,
.name,
.labelList {
  flex: 1;
  font-size: var(--scale-1);
  line-height: var(--line-md);
  padding: var(--size-2) 0;
  font-family: var(--font-sans);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.id {
  font-family: var(--font-mono);
  font-size: var(--scale-0);
  background: var(--color-grey-100);
  padding: var(--size-1) var(--size-2);
  border-radius: var(--radius-xs);
}

.name {
  font-weight: var(--weight-semibold);
}
