.badge {
  font-family: var(--font-mono);

  background: var(--color-grey-100);

  border-radius: var(--radius-sm);
  padding: var(--size-1) var(--size-3);
  line-height: var(--line-md);
}

.label {
  font-weight: var(--weight-bold);
  color: var(--color-grey-500);
  font-size: var(--scale-000);
  user-select: none;
  text-transform: uppercase;
  margin-right: var(--size-2);
}

.value {
  font-size: var(--scale-00);
}

