.switch {
  display: block;
  position: relative; 

  padding: 0;
  margin: 0;

  border-radius: var(--radius-full);
  border: none;

  transition: all ease-in-out 300ms;

  cursor: pointer; 
  height: var(--size-7);
  width: var(--size-14);

  background: var(--color-grey-300);
}
.switch.enabled {
  background: var(--color-blue-500);
}
.switch.disabled {
  cursor: not-allowed;
}

.switchKnob {
  --offset: 4px;

  display: block; 
  border-radius: var(--radius-full);

  transition: all ease-in-out 300ms;

  pointer-events: none; 

  height: calc(var(--size-7) - (var(--offset) * 2));
  width: calc(var(--size-7) - (var(--offset) * 2));

  box-shadow: var(--shadow-sm);

  background-color: var(--color-grey-50);
  transform: translateX(var(--offset));
}
.switch.enabled .switchKnob {
  transform: translateX(calc(var(--size-7) + var(--offset)));
  background-color: white;
}

