.container {
  overflow-y: auto;
  height: 500px;
}

.table {
  width: 100%;
  position: relative;
}

.thead {
  width: 100%;
  position: relative;
  height: 50px;
}

.th {
  flex-grow: 1;
  text-align: left;
  font-size: var(--scale-1);
  line-height: var(--line-md);
  font-weight: var(--weight-semibold);
}

.tr {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.tr:nth-child(odd) {
  background: var(--color-grey-50);
}

.td {
  flex-grow: 1;
  font-size: var(--scale-1);
  line-height: var(--line-md);
  padding: var(--size-2) 0;
}

.identifier {
  font-family: var(--font-mono);
  font-size: var(--scale-0);
  background: var(--color-grey-100);
  padding: var(--size-1) var(--size-2);
  border-radius: var(--radius-xs);
}

.strong {
  font-weight: var(--weight-semibold);
}
