.container {
  display: grid;
  grid-template-columns: var(--grid-3);
}

.title {
  font-family: var(--font-sans);
  font-size: var(--scale-4);
  font-weight: var(--weight-bold);
  text-decoration: none;
  color: var(--color-blue-700);
}
.title:hover {
  text-decoration: underline;
  color: var(--color-blue-500);
}
.title:active {
  color: var(--color-blue-300);
}

.icon {
  width: var(--size-5);
  height: var(--size-5);
  margin-right: var(--size-2);
}

.nav {
  display: flex;
  grid-column: 2 / 4;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--size-2);
}
