.searchInput {
  font-family: var(--font-sans);
  font-size: var(--scale-0);
  padding: var(--size-2) var(--size-3);
  margin-bottom: var(--size-3);
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-grey-300);
}
