.switch {
  --switch-height: var(--size-5);
  --switch-width: var(--size-10);

  display: block;
  position: relative; 

  padding: 0;
  margin: 0;

  border-radius: var(--radius-full);
  border: none;

  transition: all ease-in-out 300ms;

  cursor: pointer; 
  height: var(--switch-height);
  width: var(--switch-width);

  background: var(--color-grey-300);
}
.switch.enabled {
  background: var(--color-blue-500);
}
.switch.disabled {
  cursor: not-allowed;
  background-color: var(--color-grey-200);
}
.switch.disabled.enabled {
  background-color: var(--color-grey-500);
}

.switchKnob {
  --offset: 4px;

  display: block; 
  border-radius: var(--radius-full);

  transition: all ease-in-out 300ms;

  pointer-events: none; 

  height: calc(var(--switch-height) - (var(--offset) * 2));
  width: calc(var(--switch-height) - (var(--offset) * 2));

  box-shadow: var(--shadow-sm);

  background-color: var(--color-grey-50);
  transform: translateX(var(--offset));
}
.switch.enabled .switchKnob {
  transform: translateX(calc(var(--switch-width) - var(--switch-height) + var(--offset)));
  background-color: white;
}

