.accountIcon {
  width: var(--size-10);
  margin-right: var(--size-2);
  color: var(--color-purple);
}

.header {
}

.title {
  font-family: var(--font-sans);
  font-size: var(--scale-4);
  font-weight: var(--weight-bold);
  margin: 0;
  line-height: var(--line-md);
  display: flex;
  align-items: center;
}

.badgeRow {
  display: flex;
  align-items: flex-start;
  margin: var(--size-3) 0;
  gap: var(--size-2);
}

.subtitle {
  font-family: var(--font-sans);
  font-size: var(--scale-3);
  font-weight: var(--weight-bold);
}
